.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #7211f5;
  border: 1px solid #7211f5;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #5917af;
  border-color: #5917af;
}
